/* normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{background:#fff;color:#000;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
/*===================================================
					Rebuild CSS - using OOCSS and BEM 
	===================================================*/

/**************************
 *          base          *
 **************************
 * basic default styles usually used for a simple selectors. Like clearfix for example. 
 */

html,
body { 
	padding: 0;
	margin: 0;
	height: 100%;
}
html { background-image: url(../img/bg_arcos.png); }
body {
	/* style */ 
	overflow-y: scroll;
	font-size: 87.5%;
}
a {
	color: #fff;
	text-decoration: none; 
}
img { max-width: 100%; }
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* ====== header ====== */
.header {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	overflow: hidden;
	background-color: #333;
	background-image: -webkit-gradient(radial, center center, 0, center center, 700, from(transparent,), to(#000));
	background-image: -webkit-radial-gradient(circle, transparent, #000 );
	background-image: -moz-radial-gradient(circle, transparent, #000);
	background-image: -ms-radial-gradient(circle, transparent, #000);
	background-image: -o-radial-gradient(circle, transparent, #000);
	background-image: radial-gradient(circle, transparent, #000);
}
.header__layout {
	width: 1020px; 
	margin: 0 auto;
}
.header__layout__logo { 
	padding-top: 40px; 
	text-align: center; 
}
.header__layout__menu {
	display: block;
	margin-top: 20px !important;
	font-family: 'Oswald', sans-serif; 
	color: #fff;
}
.header__layout__menu>li {
	width: 14.2857142857%; /* 100 / 7 */
	text-align: center;
}
.header__layout__menu>li>span {
	display: block; 
	padding: 10px 0;
	color: #fff;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}
.header__layout__menu__sub-menu-container {
	display: none; 
	position: absolute; 
	width: 150%;
	left: -25%;
	padding: 12px 0 0 0;
	z-index: 250;
}
.header__layout__menu__sub-menu-container:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 6px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	/*margin-left: -7px; hack to ie*/
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
}
.header__layout__menu>li:hover .header__layout__menu__sub-menu-container { display: block; }
.header__layout__menu__sub-menu-container__sub-menu {
	padding: 5px !important;  
	background-color: #fff;
	color: #333;
	font-weight: 300; 
	letter-spacing: 1px;
}
.header__layout__menu__sub-menu-container__sub-menu>li {
	display: block; 
	width: 100%; 
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}
.header__layout__menu__sub-menu-container__sub-menu>li>div { padding: 10px 5px; }
.header__layout__menu__sub-menu-container__sub-menu>li>div>a {
	color: #333;
	text-decoration: none;
}
.header__layout__menu__sub-menu-container__sub-menu>li:hover>div>a { color: #fff; }
.header__layout__slide {
	max-width: 960px; 
	width: 100%; 
	height: 40%; 
	margin: 0 auto; 
	overflow: hidden;
}
.header__layout__slide__nav {
	display: block;
	position: absolute; 
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.header__layout__slide__slider { margin-top: 20px; overflow: hidden; }
.header__layout__slide__slider__image,
.header__layout__slide__slider__image img { position: relative; width: 100%; }
.header__layout__slide__slider__image--hide { display: none; }
.header__layout__slide__slider__image__info {
	position: absolute; 
	width: 100%; 
	height: 90px; 
	bottom: -91px; 
	background-color: #000;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.header__layout__slide__slider__image:hover .header__layout__slide__slider__image__info { bottom: 0; }
.header__layout__slide__slider__image__info__layout { padding: 15px; }
.header__layout__slide__slider__image__info__title {}
.header__layout__slide__slider__image__info__author {}
.header__colors-ribbon {
	position: absolute; 
	width: 100%; 
	bottom: 0; 
	left: 0; 
	z-index: 250;
}
.header__colors-ribbon li { 
	width: 14.2857142857%; 
	height: 10px; 
}
/* ====== body ====== */
.body {
	display: block;
	position: relative;
	width: 100%;
	min-height: 2000px; 
	height: auto;
}
/* menu */
.body__menu {
	position: fixed;
	width: 100px;
	height: 100%; 
	top: 0; 
	left: -100px;
	z-index: 20; 
	overflow: hidden;  
	-webkit-transition: left .3s ease-in; 
	-moz-transition: left .3s ease-in; 
	-ms-transition: left .3s ease-in; 
	-o-transition: left .3s ease-in; 
	transition: left .3s ease-in;
}
.body__menu--active {
	left: 0;
}
.body__menu--active:hover {
	width: 340px;
}
.body__menu__layout {
	width: 100px; 
	height: 100%; 
	background-color: #000;
}
.body__menu__layout__logo {
	padding-top: 10px;
}
.body__menu__layout__menu {
	font-family: 'Oswald', sans-serif; 
	font-weight: 300; 
	color: #fff; 
	/*text-align: center; danilo */
	text-align: right;
}
.body__menu__layout__menu>li {
	padding: 10px !important;
	-webkit-transition: all .7s ease; 
	-moz-transition: all .7s ease; 
	-ms-transition: all .7s ease; 
	-o-transition: all .7s ease; 
	transition: all .7s ease;
}
.body__menu__layout__menu>li>a { color: #fff; }
.body__menu__layout__menu__sub-menu-container {
	display: none;
	position: absolute; 
	width: 228px; 
	top: 0; 
	left: 100px;
	padding-left: 12px;
}
.body__menu__layout__menu__sub-menu-container:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 14px; /* 20 - 6 */
	left: 6px;
	border-top: 6px solid transparent;
	border-right: 6px solid transparent; /* color triangle */
	border-bottom: 6px solid transparent;
}
.background-color-pattern-hover--design .body__menu__layout__menu__sub-menu-container:before { border-right-color: #FF2157; }
.background-color-pattern-hover--architecture .body__menu__layout__menu__sub-menu-container:before { border-right-color: #FF8932; }
.background-color-pattern-hover--paint .body__menu__layout__menu__sub-menu-container:before { border-right-color: #82BC46; }
.background-color-pattern-hover--photography .body__menu__layout__menu__sub-menu-container:before { border-right-color: #06838F; }
.background-color-pattern-hover--mixed .body__menu__layout__menu__sub-menu-container:before { border-right-color: #00B8FF; }
.background-color-pattern-hover--sculpture .body__menu__layout__menu__sub-menu-container:before { border-right-color: #9365E6; }
.background-color-pattern-hover--dynamics .body__menu__layout__menu__sub-menu-container:before { border-right-color: #D21600; }
.body__menu__layout__menu>li:hover .body__menu__layout__menu__sub-menu-container {
	display: block;
}
.body__menu__layout__menu__sub-menu-container__sub-menu {
	padding: 5px !important;
	text-align: center; 
}
.body__menu__layout__menu__sub-menu-container__sub-menu>li { 
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}
.body__menu__layout__menu__sub-menu-container__sub-menu>li>a {
	display: block;
	padding: 10px !important;
}
.body__menu__layout__menu__sub-menu-container__sub-menu>li:hover { background-color: #fff; }
/* boy content */
.body__content { padding-top: 50px; }
.body__content__sections {
	width: 1020px; 
	top: 70px; 
	margin: 0 auto;
	z-index: 5;
}
.body__content__sections__section { width: 100%; max-width: 1020px; margin-top: 30px; }
.body__content__sections__section__header { font: 2.15em 'Fjalla One', sans-serif; }
.body__content__sections__section__nav-menu {
	font-family: 'Oswald', sans-serif; 
	color: #444; 
	font-size: .875em; 
	text-align: center; 
	margin-top: 15px !important;
}
.body__content__sections__section--design .body__content__sections__section__nav-menu { border-top: thin solid #FF2157; }
.body__content__sections__section--architecture .body__content__sections__section__nav-menu { border-top: thin solid #FF8932; }
.body__content__sections__section--paint .body__content__sections__section__nav-menu { border-top: thin solid #82BC46; }
.body__content__sections__section--photography .body__content__sections__section__nav-menu { border-top: thin solid #06838F; }
.body__content__sections__section--mixed .body__content__sections__section__nav-menu { border-top: thin solid #00B8FF; }
.body__content__sections__section--sculpture .body__content__sections__section__nav-menu { border-top: thin solid #9365E6; }
.body__content__sections__section--dynamics .body__content__sections__section__nav-menu { border-top: thin solid #D21600; }
.body__content__sections__section__nav-menu>li {
	padding: 10px 0 !important;
	-webkit-transition: all .7s ease; 
	-moz-transition: all .7s ease; 
	-ms-transition: all .7s ease; 
	-o-transition: all .7s ease; 
	transition: all .7s ease;
}
.body__content__sections__section__nav-menu>li:hover { color: #fff; }
.body__content__sections__section--dynamics .body__content__sections__section__nav-menu>li,
.body__content__sections__section--mixed .body__content__sections__section__nav-menu>li { width: 33.3333333333%; }
.body__content__sections__section--sculpture .body__content__sections__section__nav-menu>li, 
.body__content__sections__section--architecture .body__content__sections__section__nav-menu>li,
.body__content__sections__section--photography .body__content__sections__section__nav-menu>li { width: 25%; }
.body__content__sections__section--design .body__content__sections__section__nav-menu>li { width: 14.2857142857%; }
.body__content__sections__section--paint .body__content__sections__section__nav-menu>li { width: 12.5%; }
.body__content__sections__section__images-container {}
.body__content__sections__section .images__image img { width: 100%; }
.body__content__sections__section .images__image__info { 
	position: absolute; 
	width: 100%; 
	height: 100px; 
	bottom: -100px;
	vertical-align: top;
	background-color: rgba(0,0,0,.9);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.body__content__sections__section .images__image__info__layout { padding: 10px; }
.body__content__sections__section .images__image__info__layout a { display: block; }
.body__content__sections__section .images__image__info__layout__title { font-size: 1.3em; }
.body__content__sections__section .images__image__info__layout__category { font-size: .75em; }
.body__content__sections__section .images__image:hover .images__image__info { bottom: 0; }
.body__content__sections__section__nav {
	width: 70px;
	height: 81px; 
	margin: 10px auto !important;
	border: none !important;
	background: transparent url(../img/icon_exagono_negro.png) no-repeat;
}
.body__content__sections__section__nav>li {
	width: 35px !important;
	height: 81px;
}
.body__content__sections__section__nav>li .hover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0; 
	opacity: 0;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-ms-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}
.body__content__sections__section__nav>li:hover .hover { opacity: 1; }
.body__content__sections__section--design { position: fixed; top: 0; margin-top: 70px; }
.body__content__sections__section--architecture { margin-top: 200%; }
.body__content__sections__section--paint {}
.body__content__sections__section--photography {}
.body__content__sections__section--mixed {}
.body__content__sections__section--sculpture {}
.body__content__sections__section--dynamics {}
/* blog */
.body__content__sections__section__blog { margin-top: 30px; }
.body__content__sections__section__blog__articles,
.body__content__sections__section__blog__aside { float: left; }
.body__content__sections__section__blog__articles { width: 66.6666666667%; }
.body__content__sections__section__blog__articles__layout { padding: 0 5%; }
.body__content__sections__section__blog__articles__layout__article { padding-top: 20px; }
.body__content__sections__section--photography .body__content__sections__section__blog__articles__layout__article { border-top: 3px solid #06838F; }
.body__content__sections__section__blog__articles__layout__article__title { 
	display: block;
	font-family: "FJalla One", sans-serif;
	font-size: 2.15em; 
}
.body__content__sections__section__blog__articles__layout__article__title:hover { text-decoration: underline; }
.body__content__sections__section__blog__articles__layout__article__sub-title {
	display: block;
	margin-top: 5px;
	font-family: "FJalla One", sans-serif;
	font-size: 1.2em;
	color: #5D5D5D;
}
.body__content__sections__section__blog__articles__layout__article__sub-title:hover { color: #FAC600; }
.body__content__sections__section__blog__articles__layout__article__photo { 
	display: block;
	margin-top: 10px; 
}
.body__content__sections__section__blog__articles__layout__article__description {
	font-family: "Oswald", sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	text-align: justify;
	color: #333;
}
.body__content__sections__section__blog__aside { width: 33.3333333333%; }
/* footer */
.footer {
	position: relative;
	min-height: 100%; 
	margin-top: 100px; 
	background: #333 url(../img/borde_contact.png) repeat-x 0 -1px;
	color: #fff;
}
.footer__contact-form {
	position: absolute; 
	width: 500px; 
	left: 50%; 
	top: 50%; 
	-webkit-transform: translate(-50%, -70%);
	-moz-transform: translate(-50%, -70%);
	-ms-transform: translate(-50%, -70%);
	-o-transform: translate(-50%, -70%);
	transform: translate(-50%, -70%);
}
.footer__contact-form__header {
	margin-bottom: 60px;
	font-family: "Fjalla One", sans-serif;
	text-align: center;
	color: #FAC600;
}
.footer__contact-form__layout {}
.footer__contact-form__layout__input {
	width: 84%; 
	padding: 10px 8%; 
	border: 0; 
	outline: 0; 
	margin: 5px 0;
	background-color: #333;
	-webkit-box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2), inset 1px 1px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2), inset 1px 1px 3px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2), inset 1px 1px 3px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2), inset 1px 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2), inset 1px 1px 3px rgba(0, 0, 0, 0.3);
	font-family: "Oswald", Arial, sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	color: #fff;
}
.footer__contact-form__layout__input:focus { color: #333; }
.footer__contact-form__layout__input:hover { background-color: #FAC600 !important; }
.footer__contact-form__layout__input--name { background: url(../img/icon_nombre.png) no-repeat; }
.footer__contact-form__layout__input--name:focus,
.footer__contact-form__layout__input--name:hover { background: #FFF url(../img/icon_nombre_h.png) no-repeat; }
.footer__contact-form__layout__input--email { background: url(../img/icon_contacto.png) no-repeat; }
.footer__contact-form__layout__input--email:focus,
.footer__contact-form__layout__input--email:hover { background: #FFF url(../img/icon_contacto_hh.png) no-repeat; }
.footer__contact-form__layout__input--message { background: url(../img/icon_mensaje.png) no-repeat; }
.footer__contact-form__layout__input--message:focus,
.footer__contact-form__layout__input--message:hover { background: #FFF url(../img/icon_mensaje_h.png) no-repeat; }
.footer__contact-form__send-button {
	padding: 10px 20px;
	margin-top: 5px;
	border: 0;
	background-color: #fff;
	font-family: "FJalla One", sans-serif;
	font-size: 1.2em;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-ms-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}
.footer__contact-form__send-button:hover { background-color: #FAC600; }

/****************************
 *          layout          *
 ****************************
 * grids definition
 */

/* grid image */
.images { margin-top: 20px; }
.images__image { 
	overflow: hidden; 
	margin: 5px 0.4901960784313725%;
} /* 5 / 1020 */
.images__image--pattern-1 { 
	width:15.68627450980392%; 
	height:215px; 
}     /* 160 / 1020 */
.images__image--pattern-2 { 
	width:15.68627450980392%; 
	height:295px; 
}     /* 160 / 1020 */
.images__image--pattern-3 { 
	width: 32.35294117647059%; 
	height:465px; 
}    /* 330 / 1020 */
.images__image--pattern-4{ 
	width: 32.35294117647059%; 
	height:227.5px; 
}  /* 330 / 1020 */
.images__image--pattern-5{ 
	width:15.68627450980392%; 
	height:430px; 
}     /* 160 / 1020 */
.images__image--pattern-6{ 
	width:15.68627450980392%; 
	height:160px; 
}     /* 160 / 1020 */
.images__image--pattern-7{ 
	width: 32.35294117647059%; 
	height:180px; 
}    /* 330 / 1020 */
.images__image--pattern-8{ 
	width: 49.01960784313725%; 
	height:180px; 
}    /* 500 / 1020 */
.images__image--pattern-9{ 
	width:15.68627450980392%; 
	height:330px; 
}     /* 160 / 1020 */
.images__image--pattern-10{ 
	width: 49.01960784313725%; 
	height:125px; 
}   /* 500 / 1020 */
.images__image--pattern-11{ 
	width:15.68627450980392%; 
	height:275px; 
}    /* 160 / 1020 */
.images__image--pattern-12{ 
	width: 32.35294117647059%; 
	height:240px; 
}   /* 330 / 1020 */
.images__image--pattern-13{ 
	width:15.68627450980392%; 
	height:180px; 
}    /* 160 / 1020 */
.images__image--pattern-14{ 
	width: 32.35294117647059%; 
	height:415px; 
}   /* 330 / 1020 */

/****************************
 *          Module          *
 ****************************
 * a group of elements which combined form a module. Like for example header or sidebar.
 */
 
 /* list */
.list {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
}
.list li {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
}
.list--inline li {
	float: left;
}

/* nav */
.nav {
	position: fixed; 
	z-index: 20;
}
.nav li {
	width: 41px;
	height: 48px; 
	margin: 0 0 0 2px; 
}
.nav li img.hover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0; 
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-ms-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}
.nav li:hover img.hover { 
	opacity: 1;
	filter: alpha(opacity=100);     
}
.nav--user,
.nav--social-networks {
	right: 30px;
}
.nav--user {
	top: 30px;
}
.nav--social-networks {
	bottom: 30px;
}

/***************************
 *          State          *
 ***************************
 * contains different states of elements. Definition of rules if particular object is hidden, pressed, expanded etc ...
 */

/***************************
 *          Theme          *
 ***************************
 * oriented more to the visual parts of the things. Similar like the state category.
 */

/* theme design */
.background-color-pattern--design,
.background-color-pattern-hover--design:hover { background-color: #FF2157 !important; }
.color-pattern--design,
.color-pattern-hover--design:hover { color: #FF2157 !important; }

/* theme architecture*/
.background-color-pattern--architecture, 
.background-color-pattern-hover--architecture:hover { background-color: #FF8932 !important; }
.color-pattern--architecture, 
.color-pattern-hover--architecture:hover { color: #FF8932 !important; }

/* theme paint */
.background-color-pattern--paint, 
.background-color-pattern-hover--paint:hover { background-color: #82BC46 !important; }
.color-pattern--paint, 
.color-pattern-hover--paint:hover { color: #82BC46 !important; }

/* theme photography */
.background-color-pattern--photography, 
.background-color-pattern-hover--photography:hover { background-color: #06838F !important; }
.color-pattern--photography, 
.color-pattern-hover--photography:hover { color: #06838F !important; }

/* theme mixed */
.background-color-pattern--mixed, 
.background-color-pattern-hover--mixed:hover { background-color: #00B8FF !important; }
.color-pattern--mixed, 
.color-pattern-hover--mixed:hover { color: #00B8FF !important; }

/* theme sculpture */
.background-color-pattern--sculpture, 
.background-color-pattern-hover--sculpture:hover { background-color: #9365E6 !important; }
.color-pattern--sculpture, 
.color-pattern-hover--sculpture:hover { color: #9365E6 !important; }

/* theme dynamics */
.background-color-pattern--dynamics, 
.background-color-pattern-hover--dynamics:hover { background-color: #D21600 !important; }
.color-pattern--dynamics, 
.color-pattern-hover--dynamics:hover { color: #D21600 !important; } 

/* theme for scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background-color: #111; }
::-webkit-scrollbar-thumb { background-color: #555; }
::scrollbar { width: 8px !important; }
::scrollbar-track { background-color: #111 !important; }
::scrollbar-thumb { background-color: #555 !important; }

/*===================================
					End Rebuild CSS
	===================================*/